*.class

*.classpath
*.project

# Package Files #
*.jar
#*.war
*.ear

# idea project file
.idea/*

*.iml
*.eml
*.userlibraries
*.log
*.db-journal
*.tmp
*.zip
*api-sergei.properties

# Compilation binary file
/out/*
/target/*
!target/jenkin-war-deployment.war