<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Jenkins War Deployment</display-name>

    <servlet>
        <servlet-name>jenkins-war-deployment</servlet-name>
        <servlet-class>org.sergei.jenkins.Welcome</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>jenkins-war-deployment</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>